*.pyc
node_modules/

# testing files
.coverage
.pytest_cache
__pycache__

# jetbrains IDE files
/.idea/*
.fleet

# vscode
.vscode

# serverless stuff
.serverless
.serverless-wsgi
_warmup
.requirements.zip
serverless_config*.json

# config overrides
/config/local_overrides.py
